body {
	margin: 0px;
	background-image: url(../Resources/Images/sales-bgimage.png);
	background-position: top;
}

.main {
	padding-left: 60px;
	padding-top: 35px;
	font-family: 'Nunito', sans-serif;
	height: 100%;
}

.top-section {
	display: flex;
	justify-content: space-between;
	margin-right: 180px;
}

#progress-bar {
	width: 14em!important;
}

#sales-details {
	display: none;
}