body {
    margin: 0px;
    background-image: url("../Resources/Images/employee-bgimage.png");
    background-size: cover;
    background-position: top;
}

.search-section {
    margin-top: 50px;
    margin-left: 58px;
    width: 600px;
}

.viewAllButton {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    font-weight: 700;
    padding: 8px;
    border: 2px solid black;
    background-color: #E6E6E6;
    width: 100%;
}

.viewAllButton:hover {
    cursor: pointer;
    background-color: #575757;
    color: #ffffff;
}

.go-btn {
    position: absolute;
    top: 170px!important;
    left: 700px;
}

.table-wrapper {
    margin-left: 58px;
    display: none;
}

