.metrics {
	margin: auto;
	display: flex;
	justify-content: space-around;
	margin-top: 25px;
	width: 930px;
}

.metric {
	border: 1px solid black;
	border-radius: 19.8893px;
	box-sizing: border-box;
	box-shadow: 0px 24.5692px 109.976px rgba(0, 0, 0, 0.03);
	display: flex;
	align-items: center;
	padding: 8px;
	width: 275px;
}

.metric img {
	margin-left: 10px;
}

.metric-content {
	margin-left: 30px;
}

.metric-content h4 {
	color: #575757;
	margin: 15px 0px;
}