.search-results-box {
    height: 550px;
    width: 600px;
    border: 2px solid black;
    margin-top: 20px;
    margin-left: 100px;
    display: none;
}

.search-results-box h2 {
	font-family: 'Roboto Slab', serif;
    text-align: center;
    text-decoration: underline;
}

.particulars {
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
    font-family: 'Nunito', sans-serif;
}

.particular {
    display: flex;
    justify-content: space-between;
}

.particular .heading {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}

.particular .content {
    font-size: 18px;
    margin: 10px 0px;
}